html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


.top-wrapper{
  padding:130px 0 100px 0;
  text-align:center;
  background-image:url(シレン1.jpg);
  background-size:cover;
  color:white;

}
.container{
  width:1170px;
  margin:0 auto;
}
.sentense{
  color:white;
  opacity:0.7;
}
.sentense h1{
  font-size:45px;
  font-weight:bold;
  letter-spacing:5px;
}
.btn{
  padding:8px 24px;
  color:white;
  display:inline-block;
  border-radius: 10px;
  box-shadow:0 3px black ;
}
.btn:active{
  box-shadow:none;
  position:relative;
  top:3px;
}
.btn:hover{
  opacity:1;
}
.btn-wrapper h1{
  padding:30px 0 0 0;
}
.btn-wrapper h2{
  padding-top: 30px;
}
.work{
  margin-top:30px;
  background-color:red;
  opacity:0.8;
  margin-right:10px;
}
.facebook{
  background-color:#3b5998;
  opacity:0.8;
 
}
.soundcloud{
  background-color:orangered;
  opacity:0.8;
}
.fa{
  margin-right:5px;
}
header{
  background-color:rgba(34,49,52,0.9);
  height:65px;
  width: 100%;
  position:fixed;
  top:0;
  z-index:10;
}
.header-logo{
  float:left;
}
.header-logo img{
  width:124px;
  display:inline-block;
  padding:20px 0 20px 0;
}
.login{
  float:right;
  color:white;
  background-color:rgba(255,255,255,0.3);
  display:block;
  padding:0 25px 0 25px;
  line-height:65px;
}
.lesson-wrapper{
  height:580px;
  text-align:center;
  background-color:#f7f7f7;
}
.lessons h1{
  padding:80px 0 50px 0;
  font-weight:normal;
  color:#5f5d60;
}
.lesson{
  width:50%;
  float:left;
}
.lesson-text{
  width:80%;
  margin-top:15px;
  display:inline-block;
  font-size:20px;
  color:black;
}
.lesson-icon{
  position:relative;
  
}
.lesson-icon p{
  position:absolute;
  top:45%;
  width:100%;
  color:white;
  font-size:50px;
}
.music{
  color:black;
}

.message-wrapper{
  text-align:center;
  
 

}
.message-wrapper h1{
  
  font-size:45px;
  font-weight:bold;
  letter-spacing:5px;
}
.who{
  padding-top:100px;
  display: inline-block;
}


.goodbye{
  height :450px;
  width:415px;
}
.sirenone{
  height :450px;
  width:415px;
}
.sirenthree{
  height :450px;
  width:415px;
}
.journey{
  height :450px;
  width:415px;
}
.mario{
  height :450px;
  width:415px; 
}

.good{
  padding-top: 50px;
  color:red;
  font-size:60px;
}
.good li{
  text-align: left;
}
.bad{
  padding-top: 50px;
  color:blue;
  font-size:60px;
}
.bad li{
  text-align: left;
}
span{
  color:white;
}
.yajirusi{
  color:red;
}
.good-sentense li{
  font-size: 30px;
}
.bad-sentense li{
  font-size:30px;
}
